<nav class="container">
  <ul class="menu">
    <li class="logo">
      <a href="#" routerLink="/">
        <img src="assets/logos/dark.png" alt="logo" height="70" />
      </a>
    </li>
    <li class="item">
      <a href="#" routerLink="/integrations">Integrations</a>
    </li>
    <li class="item right"><a href="#" routerLink="/auth/login">Sign In</a></li>
    <li class="item button">
      <a
        href="#"
        routerLink="/auth/register"
        class="btn btn-md rounded-pill"
        style="background-color: var(--green); color: #fff; border: none"
      >
        Try for Free
      </a>
    </li>
    <li class="toggle">
      <a href="#">
        <i class="bi bi-list" style="font-size: 30px"></i>
      </a>
    </li>
  </ul>
</nav>
