<section>
  <div class="row mb-4 pt-10">
    <h6 class="mb-0 mr-4 mt-2 text-left">Register a Free Account</h6>
    <p class="text-muted" style="font-size: 12px">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, fuga?
    </p>
  </div>
  <div class="row">
    <div class="form-group">
      <label class="mb-1" for="name">Name</label>
      <input
        class="mb-4 form-control form-input"
        type="text"
        name="name"
        id="name"
        placeholder="Enter your name"
      />
    </div>
  </div>
  <div class="row mb-4">
    <div class="form-group">
      <label for="emailAddress">Email address</label>
      <input
        type="email"
        class="form-control"
        id="emailAddress"
        aria-describedby="emailHelp"
        placeholder="Enter a valid email address"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label class="required">Phone Number</label>
      <input
        class="mb-4 form-control form-input"
        type="tel"
        name="phone"
        placeholder="Phone number like +254725270930"
      />
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label class="mb-1"> Password </label>
      <input
        type="password"
        name="password"
        class="form-control form-input"
        placeholder="Enter password"
      />
    </div>
  </div>

  <div class="row mb-3 my-3">
    <div class="form-group">
      <button
        type="submit"
        class="btn text-center"
        style="background-color: var(--green); color: #fff"
      >
        Create Free Account
      </button>
    </div>
  </div>
  <div class="row">
    <small class="font-weight-bold">
      Already have an account?
      <a href="#" routerLink="/auth/login">Login</a>
    </small>
  </div>
</section>
