// Variables
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sora:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #028ab0;
    --secondary: #d12219;
    --accent: #ffd978;
    --error: #f44900;
    --dark: #13263c;
    --light: whitesmoke;
    --border: #e2e2e2;
    --text: #484848;
    --white: #ffffff;
    --light-bg: #f8fafa;
    --background: #fefcf7;
}

* {
    font-family: "Quicksand", "Varela Round", sans-serif;
}
.cursive {
    // font-family: "Sacramento", cursive;
}
.tilt-shake {
    animation: tilt-shaking 0.3s infinite;
}
.rise-shake {
    animation: jump-shaking 1.83s infinite;
}
.happy-jump {
    animation-name: happy-jump;
    animation-duration: 3s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes happy-jump {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
        transform: scale(0.9, 1.1) translateY(-30px);
    }
    50% {
        transform: scale(1.05, 0.95) translateY(0);
    }
    57% {
        transform: scale(1, 1) translateY(-7px);
    }
    64% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0eg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes jump-shaking {
    0% {
        transform: translateX(0) rotate(0);
    }
    35% {
        transform: translateY(0) rotate(0);
    }
    85% {
        transform: translateY(0) rotate(0);
    }
    89% {
        transform: translateY(-2px) rotate(-17deg);
    }
    93% {
        transform: translateY(-3px) rotate(17deg);
    }
    98% {
        transform: translateY(-4px) rotate(-17deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
