// Variables
@import "bootstrap-icons/font/bootstrap-icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #f59e1b;
    --secondary: #543111;
    --accent: #ffd978;
    --error: #f44900;
    --dark: #13263c;
    --light: whitesmoke;
    --border: #e2e2e2;
    --text: #484848;
    --white: #ffffff;
    --light-bg: #f8fafa;
    --background: #fefcf7;
}

.rise-shake {
    animation: jump-shaking 1.83s infinite;
}

@keyframes jump-shaking {
    0% {
        transform: translateX(0) rotate(0);
    }
    35% {
        transform: translateY(0) rotate(0);
    }
    85% {
        transform: translateY(0) rotate(0);
    }
    89% {
        transform: translateY(-2px) rotate(-17deg);
    }
    93% {
        transform: translateY(-3px) rotate(17deg);
    }
    98% {
        transform: translateY(-4px) rotate(-17deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
