main {
  height: 100%;

  .auth-card {
    background-color: #fff;
    border-radius: 12px;
  }
  a {
    color: var(--green);
    text-decoration: none !important;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px;
  height: inherit;
}

.content {
  margin: 0px 40px;
}

.logo {
  width: 250px;
}

.image {
  width: 90%;
}
.line {
  height: 1px;
  width: 45%;
  background-color: #e0e0e0;
  margin-top: 5px;
}
.or {
  width: 10%;
  font-weight: bold;
}

a {
  color: inherit;
  cursor: pointer;
}

.footer {
  position: fixed;
  height: max-content;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background-color: var(--green);
}

@media screen and (max-width: 991px) {
  .logo {
    margin-left: 0px;
  }

  .image {
    width: 100%;
  }
}
