<section>
  <div class="row mb-4 pt-10">
    <h6 class="mb-0 mr-4 mt-2 text-left">Sign in with</h6>
    <div class="row mb-3 px-3 mt-3">
      <button
        type="submit"
        class="btn text-center"
        style="background-color: var(--primary); color: #fff"
      >
        <i class="bi bi-envelope-arrow-up me-3"></i>
        Sign In with Magic Link
      </button>
    </div>
  </div>
  <div class="row mb-4">
    <div class="line"></div>
    <small class="or text-center">Or</small>
    <div class="line"></div>
  </div>
  <div class="row">
    <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>
    <input
      class="mb-4 form-control form-input"
      type="text"
      name="email"
      placeholder="Enter a valid email address"
    />
  </div>
  <div class="row">
    <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
    <input
      type="password"
      name="password"
      class="form-control form-input"
      placeholder="Enter password"
    />
  </div>
  <div class="row mb-4 mt-1">
    <small class="font-weight-bold">
      Forgot Password? <a href="#" class="ml-auto mb-0 text-sm link"> Reset </a>
    </small>
  </div>
  <div class="row mb-3">
    <button
      type="submit"
      class="btn text-center"
      style="background-color: var(--green); color: #fff"
    >
      Login
    </button>
  </div>
  <div class="row">
    <small class="font-weight-bold">
      Don't have an account?
      <a href="#" routerLink="/auth/register">Register</a>
    </small>
  </div>
</section>
