<section>
  <div class="row mb-4 pt-10">
    <h6 class="mb-0 mr-4 mt-2 text-left">Sign in to your Account</h6>
    <p class="text-muted" style="font-size: 12px">
      Login to the client account using the magic link or email and password.
    </p>
    <div class="row mb-3 px-3 mt-3">
      <button
        type="submit"
        class="btn text-center"
        style="background-color: var(--primary); color: #fff"
      >
        <i class="bi bi-envelope-arrow-up me-3"></i>
        Sign In with Magic Link
      </button>
    </div>
  </div>
  <div class="row mb-4">
    <div class="line"></div>
    <small class="or text-center">Or</small>
    <div class="line"></div>
  </div>

  <div class="row mb-4">
    <div class="form-group">
      <label for="emailAddress">Email address</label>
      <input
        type="email"
        class="form-control"
        id="emailAddress"
        aria-describedby="emailHelp"
        placeholder="Enter a valid email address"
      />
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label class="mb-1"> Password </label>
      <input
        type="password"
        name="password"
        class="form-control form-input"
        placeholder="Enter password"
      />
    </div>
  </div>
  <div class="row mb-4 mt-1">
    <small class="font-weight-bold">
      Forgot Password?
      <a href="#" class="ml-auto mb-0 text-sm link"> Reset </a>
    </small>
  </div>
  <div class="row mb-3">
    <button
      type="submit"
      class="btn text-center"
      style="background-color: var(--green); color: #fff"
    >
      Login
    </button>
  </div>
  <div class="row">
    <small class="font-weight-bold">
      Don't have an account?
      <a href="#" routerLink="/auth/register">Register</a>
    </small>
  </div>
</section>
