<section class="landing">
  <div class="container">
    <div class="row flex">
      <div class="left">
        <h1>Perfect Claims and Underwriting Intergation for your CRM</h1>
        <p>
          Welcome to BimaTrust® Worksuite, your gateway to seamless insurance
          brokerage in Africa. Empowering you to safeguard what matters most, we
          offer a trusted platform designed to simplify your insurance journey.
        </p>
        <div class="buttons">
          <button>
            <i class="bi bi-bookmark-check-fill"></i>
            Book a Demo
          </button>
          <button class="tutorial">
            <i class="bi bi-play-circle-fill"></i>
            Watch a Tutorial
          </button>
        </div>
      </div>
      <div class="right">
        <img src="/assets/mockups/dashboard-macbook.png" alt="" />
      </div>
    </div>
  </div>
</section>
<div class="intro">
  <div class="content container">
    <div class="heading">
      <h2>
        At BimaTrust, we're committed to delivering exceptional digital
        experiences built on strategic foundations, collaborative design, and
        creative development.
      </h2>
    </div>
    <div class="content-inner">
      <p>
        Our goal is to provide you with a seamless journey through the world of
        insurance brokerage. Trust in BimaTrust for expertly crafted solutions
        that meet your insurance needs with precision and innovation.
      </p>
    </div>
  </div>
</div>
