<section class="wrapper">
  <div class="marquee d-flex">
    <div class="marquee__group d-flex">
      <app-feature-renderer
        class="item"
        [feature]="feature"
        *ngFor="let feature of features"
      ></app-feature-renderer>
    </div>

    <div aria-hidden="true" class="marquee__group d-flex">
      <app-feature-renderer
        class="item"
        [feature]="feature"
        *ngFor="let feature of features"
      ></app-feature-renderer>
    </div>
  </div>

  <div class="marquee marquee--reverse d-flex">
    <div class="marquee__group d-flex">
      <app-feature-renderer
        class="item"
        [feature]="feature"
        *ngFor="let feature of reversedFeatures"
      ></app-feature-renderer>
    </div>

    <div aria-hidden="true" class="marquee__group d-flex">
      <app-feature-renderer
        class="item"
        [feature]="feature"
        *ngFor="let feature of reversedFeatures"
      ></app-feature-renderer>
    </div>
  </div>
</section>
