<!-- <app-gradient-background [opacity]="0.4"></app-gradient-background> -->
<section
  class="pt-lg-8 pt-xl-9"
  style="margin-top: 200px; margin-bottom: 200px"
>
  <div class="container pt-4 pt-lg-0">
    <!-- Title -->
    <div class="inner-container-small text-center mb-4 mb-lg-6">
      <h1 class="mb-4">Effortless Software Integration</h1>
      <p>
        Unlock the full potential of your software by seamlessly integrating it
        with other essential tools and services.
      </p>
    </div>

    <!-- Images -->
    <div
      class="d-flex justify-content-center align-items-center gap-2 gap-sm-4 icons"
    >
      <!-- Icon -->
      <div
        class="icon-md text-center shadow-sm bg-white flex-shrink-0 d-none d-md-block"
      >
        <img
          src="assets/logos/integrations/sms-leopard.png"
          class="w-20px"
          alt=""
          width="20"
        />
      </div>

      <!-- Icon -->
      <div
        class="icon-lg text-center shadow-sm bg-white flex-shrink-0 d-none d-sm-block"
      >
        <img
          src="assets/logos/integrations/africas-talking.jpeg"
          class="w-30px"
          alt=""
          width="30"
        />
      </div>

      <!-- Icon -->
      <div class="icon-xl text-center shadow-sm bg-white flex-shrink-0">
        <img
          src="assets/logos/integrations/mpesa.png"
          class="w-50px"
          alt=""
          width="50"
        />
      </div>

      <!-- Icon -->
      <div
        class="icon-xxl text-center shadow-sm bg-white flex-shrink-0 btn-ripple"
      >
        <img
          src="assets/logos/integrations/dmvic.png"
          class="w-80px"
          alt=""
          width="80"
        />
      </div>
      <!-- Icon -->
      <div
        class="icon-xxl text-center shadow-sm bg-white flex-shrink-0 btn-ripple"
      >
        <img
          src="assets/logos/integrations/gcs.png"
          class="w-80px"
          alt=""
          width="80"
        />
      </div>

      <!-- Icon -->
      <div class="icon-xl text-center shadow-sm bg-white flex-shrink-0">
        <img
          src="assets/logos/integrations/dropbox.png"
          class="w-50px"
          alt=""
          width="50"
        />
      </div>

      <!-- Icon -->
      <div
        class="icon-lg text-center shadow-sm bg-white flex-shrink-0 d-none d-sm-block"
      >
        <img
          src="assets/logos/integrations/celcom.png"
          class="w-30px"
          width="30"
          alt=""
        />
      </div>

      <!-- Icon -->
      <div
        class="icon-md text-center shadow-sm bg-white flex-shrink-0 d-none d-md-block"
      >
        <img
          src="assets/logos/integrations/kcb.png"
          class="w-20px"
          width="20"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
