<header>
  <app-navbar></app-navbar>
</header>
<router-outlet></router-outlet>
<section
  class="mb-n7"
  style="margin-bottom: 50px; margin-bottom: -130px; z-index: 10 !important"
>
  <div class="container position-relative">
    <div
      class="bg-primary rounded position-relative overflow-hidden p-4 p-sm-5"
      style="background-color: var(--green) !important"
    >
      <div class="row g-4 position-relative">
        <!-- Title and inputs -->
        <div class="col-lg-6">
          <!-- Title -->
          <h3 class="text-white">
            Let's talk about your Insurance agency goals!
          </h3>

          <!-- Search -->
          <form class="col-md-10 bg-body rounded-2 p-2 mt-4">
            <div class="input-group">
              <input
                class="form-control focus-shadow-none border-0 me-1"
                type="email"
                placeholder="Your email address"
              />
              <button type="button" class="btn btn-dark rounded-2">
                Subscribe
              </button>
            </div>
          </form>
        </div>

        <!-- Content -->
        <div class="col-lg-5 col-xl-4 ms-auto text-lg-end contact">
          <ul class="list-group list-group-borderless mb-0">
            <li class="list-group-item mb-0">
              <a href="#" class="text-white fw-normal">
                <i class="bi bi-headset me-1"></i> Call on: 0725 270 930
              </a>
            </li>
            <li class="list-group-item text-white fw-normal mb-0">
              <i class="bi bi-clock me-1"></i> Time: 9am to 5pm
            </li>
            <li class="list-group-item mb-0">
              <a href="#" class="text-white fw-normal">
                <i class="bi bi-envelope me-1"></i> Email: info@bimatrust.com
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Row END -->
    </div>
  </div>
</section>
<footer
  class="default_footer dark padding-t-12"
  id="Testimonial"
  style="padding-top: 150px; padding-bottom: 40px; z-index: -1"
>
  <div class="container">
    <img class="shape_overlay" src="../../assets/img/shape-lines.svg" />

    <!-- Start footer -->
    <div class="defalut-footer padding-py-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="item_about">
            <a class="logo" href="#" routerLink="/">
              <img src="../../assets/logos/light.png" alt="logo" height="80" />
            </a>
            <p>
              Experience the power of integrated solutions that empower you to
              focus on what truly matters with {{ appName }}
            </p>
            <div class="address">
              <span>6040-30100, Ronald Ngala Street, Eldoret, KE</span>
              <span
                >Call us: <a href="tel:+254725270930">+254 725 270 930</a></span
              >
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-2 mt-3">
          <div class="item_links">
            <h4>Social</h4>
            <a class="nav-link" href="">Blog</a>
            <a class="nav-link" href="">Facebook</a>
            <a class="nav-link" href="">Twitter</a>
            <a class="nav-link" href="">Instagram</a>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-2 mt-3">
          <div class="item_links">
            <h4>Company</h4>
            <a class="nav-link" href="">About</a>
            <a class="nav-link" href="">Affiliates</a>
            <a class="nav-link" href="">Careers</a>
            <a class="nav-link" href="">Legal &amp; Privacy</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mt-3">
          <div class="item_subscribe">
            <h4>Subscribe</h4>
            <p>
              Subscribe to get the latest<br />
              news form us
            </p>
            <form class="form-row">
              <div class="col-md-11 form-group subscribebtn">
                <div class="item_input">
                  <input
                    type="email"
                    class="form-control rounded-pill"
                    style="
                      padding-top: 10px !important;
                      padding-bottom: 10px !important;
                    "
                    id="exampleInputEmail1"
                    placeholder="Enter email address"
                    aria-describedby="emailHelp"
                  />
                  <button
                    type="button"
                    class="btn ripple_circle scale rounded-circle btn_subscribe"
                    style="background-color: var(--green)"
                  >
                    <i class="bi bi-send-check" style="color: #fff"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-12 text-center padding-t-6" style="padding-top: 30px">
        <div class="copyright">
          <span
            >© {{ year }} {{ appName }} - Powered by
            <a href="https://bimatrust.com" target="_blank"
              >BD Computing Limited.</a
            >
            All Right Reseved</span
          >
        </div>
      </div>
    </div>
    <!-- End Footer -->
  </div>
</footer>
