<div class="page-wrapper">
  <app-navbar></app-navbar>

<div class="menu-backdrop"></div>
<div class="hidden-bar">
  <!-- Hidden Bar Wrapper -->
  <div class="hidden-bar-wrapper">
    <div class="hidden-bar-closer">
      <span class="icon">
        <svg class="icon-close" role="presentation" viewBox="0 0 16 14">
          <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
        </svg>
      </span>
    </div>
    <div class="nav-logo-box">
      <!-- logo will be copied here ! -->
    <div class="logo">
            <a href="#" title="Logo" routerLink="/"><img src="assets/images/logo.png" alt=" Logo" title=" Logo"></a>
          </div></div>

    <!-- .Side-menu -->
    <nav class="side-menu">
      <!-- main-menu will be copied here! -->
    <ul class="navigation clearfix">
                <li class="current dropdown">
                  <a href="index.html">Home<button type="button" class="btn-expander"><i class="icon icon-arrow-down"></i></button></a>
                  <ul style="display: none;">
                    <li>
                      <a href="index.html">Home 01</a>
                    </li>
                    <li>
                      <a href="index-2.html">Home 02</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="tour-list.html">Tours<button type="button" class="btn-expander"><i class="icon icon-arrow-down"></i></button></a>
                  <ul style="display: none;">
                    <li>
                      <a href="tour-list.html">Tours List</a>
                    </li>
                    <li>
                      <a href="tour-packages.html">Tour Packages</a>
                    </li>
                    <li>
                      <a href="tour-single.html">Tour Details</a>
                    </li>
                    <li>
                      <a href="activities.html">Activities</a>
                    </li>
                    <li>
                      <a href="activity-single.html">Activity Details</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="destinations.html">Destination<button type="button" class="btn-expander"><i class="icon icon-arrow-down"></i></button></a>
                  <ul style="display: none;">
                    <li>
                      <a href="destinations.html">All Destinations</a>
                    </li>
                    <li>
                      <a href="destination-single.html">Destination Single</a>
                    </li>
                    <li>
                      <a href="hotels.html">Hotels</a>
                    </li>
                    <li>
                      <a href="hotel-single.html">Hotel Details</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="about.html">About</a>
                </li>
                <li class="dropdown">
                  <a href="blog.html">News<button type="button" class="btn-expander"><i class="icon icon-arrow-down"></i></button></a>
                  <ul style="display: none;">
                    <li>
                      <a href="blog.html">Our Blog</a>
                    </li>
                    <li>
                      <a href="blog-single.html">Blog Details</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul></nav><!-- .side-menu -->

    <div class="links-box clearfix">
      <div class="clearfix">
        <div class="link">
          <a href="contact.html" class="theme-btn btn-style-one"><span>Login / Signup</span></a>
        </div>
      </div>
    </div>
  </div>
  <!-- / Hidden Bar Wrapper -->
</div>

<router-outlet></router-outlet>

<footer class="main-footer">
  <div class="upper-section">
    <div class="auto-container">
      <div class="content-box">
        <div class="row clearfix">
          <div class="footer-column col-xl-4 col-lg-3 col-md-6 col-sm-12">
            <div class="footer-widget about-widget">
              <div class="footer-logo">
                <a href="index.html" title="Travilo"><img src="assets/images/logo.png" alt="" title="Travilo"></a>
              </div>
              <div class="footer-info">
                <ul class="info">
                  <li class="address">
                    <a href="#"><i class="icon fa fa-map-marker-alt"></i> Love Street,
                      Muscat, Oman</a>
                  </li>
                  <li class="phone">
                    <a href="tel:+96899999000"><i class="icon fa-solid fa-phone"></i>+968
                      99999000</a>
                  </li>
                  <li class="email">
                    <a href="mailto:hello@travilo.com"><i class="icon fa fa-envelope"></i>
                      hello@travilo.com</a>
                  </li>
                </ul>
                <ul class="social-links clearfix">
                  <li>
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
            <div class="row clearfix">
              <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                <div class="footer-widget links-widget">
                  <h4>Top Destination</h4>
                  <div class="links">
                    <ul>
                      <li>
                        <a href="#">New York</a>
                      </li>
                      <li>
                        <a href="#">London</a>
                      </li>
                      <li>
                        <a href="#">Rome</a>
                      </li>
                      <li>
                        <a href="#">Mascot</a>
                      </li>
                      <li>
                        <a href="#">Dhaka</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                <div class="footer-widget links-widget">
                  <h4>Useful Links</h4>
                  <div class="links">
                    <ul>
                      <li>
                        <a href="#">About Us</a>
                      </li>
                      <li>
                        <a href="#">Company Profile</a>
                      </li>
                      <li>
                        <a href="#">Team Members</a>
                      </li>
                      <li>
                        <a href="#">Support</a>
                      </li>
                      <li>
                        <a href="#">Career</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="footer-column col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="footer-widget gallery-widget">
              <h4>Featured Tours</h4>
              <!--Logo-->
              <div class="gallery">
                <div class="gallery-item">
                  <div class="image">
                    <a href="#"><img src="assets/images/resources/thumbnails/oman-thumb.jpg" alt="Oman"></a>
                  </div>
                  <h6><a href="#">Adventure in Oman's Rimal Bani Wahiba</a></h6>
                  <div class="price">Starts from <span class="amount">$399</span></div>
                </div>
                <div class="gallery-item">
                  <div class="image">
                    <a href="#"><img src="assets/images/resources/thumbnails/maldives-thumb.jpg" alt=""></a>
                  </div>
                  <h6><a href="#">Unveiling the Serenity of the Maldives</a></h6>
                  <div class="price">Starts from <span class="amount">$459</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="f-bottom">
    <div class="auto-container">
      <div class="inner clearfix">
        <div class="copyright">All rights researved <strong>Travilo</strong> © 2023</div>
        <div class="bottom-links">
          <ul class="clearfix">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li> <a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>


