header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .center {
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        li {
          list-style: none;

          a {
            text-decoration: none;
            color: initial;
            &:hover,
            &.active {
              color: var(--green) !important;
            }
          }
        }
      }
    }

    li.right {
      a {
        text-decoration: none;
      }
    }
  }
}
.contact {
  ul {
    li {
      background-color: transparent;
      border: none;
      a {
        text-decoration: none;
      }
    }
  }
}
footer {
  a {
    text-decoration: none;
  }
}
